/* General Elements*/
body{
	background-image: url("../images/background.png")
}
div{
	/*background-color: white;*/
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 2px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 2rem;
}
h1{
	font-size: 30pt;
	background-color: #ff8e25;
}

h2{
	background-color: #00aa80;
	height: 80px;

}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
	width: 32%;
}
div.header, div.instructions{
	width: 52%;
	background-color: #fffb25
}
/* Classes */

.numberToMatch, .winsAndLosses{
	float: left;
	width: 25%;
	height: 80px;
}
.userTotal{
	width: 25%;
	height: 100px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 70px;
	width: 70px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
	width: 22%;
}
#green{
	color: #00aa59;
	
}
#red{
	color: #ec4b5f;
	
}
#yellow{
	color: #ffc225;
	
}